
<div class='jumbotron'>
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://1075koolfm.com/wp-content/uploads/2017/06/main-image-1000x500.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p>Price: ${{price}}</p>
        <p>Rating: {{awesomeness}}</p>
    </div>
    </div>
</div>